/* info */
form.infoForm{margin: 0 auto; width:910px; height:850px; background-color:#FFFFFF; padding:20px;}
form.infoForm > span.modify{color:#028ad9; font-size:27px; margin-top:52px; text-align:center; Box-sizing: border-box;}
form.infoForm > ul.modiForm{width:770px; margin: 70px auto 0;}
form.infoForm > ul.modiForm > li{margin-top:25px;}
form.infoForm > ul.modiForm > li > span.lab{font-weight: bold; font-size:16px; color:#485676; margin:0 0 10px 12px; width:50%;}
form.infoForm > ul.modiForm > li > span.modify > input[type='text']{ width:770px; height:40px; background:url('/img/inputBar.png') no-repeat;}
form.infoForm > ul.modiForm > li:last-child{margin-top:68px;}
 
form.infoForm > ul.modiForm > li:last-child > span.radio {width:100%; margin-top:23px;}
form.infoForm > ul.modiForm > li:last-child > span.radio > label.chk2 {float:left; }
form.infoForm > ul.modiForm > li:last-child > span.radio > label.chm {margin-left:19px;}
form.infoForm > ul.modiForm > li:last-child > span.radio > label.chf {margin-left:52px;}
form.infoForm > ul.modiForm > li:last-child > span.radio >span.labR{float:left; margin-left:9px;}

form.infoForm > button{text-indent:-1000em; margin-top:128px; }
div.btn{width:284px; margin:0 auto;}
div.btn > button{text-indent:-1000em; margin-top:128px; }
button.mPass{width:132px; height:40px; background:url('/img/infoButton.png') no-repeat; float:left; margin-left:0;}
button.infoSave{width:132px; height:40px; background:url('/img/infoButton.png') no-repeat -152px 0; float:left; margin-left:20px;}

ul.period > li.month > span.birthselect{margin-left:25px;}
ul.period > li.theDay > span.birthselect{margin-left:25px;}
div.message{position:relative; width:945px; height:50px; clear:both; margin-bottom:20px;}
label.pic{width:100px; height:100px; display:block; text-indent:-1000em; border:1px solid #000; cursor:pointer; background:url('/img/profile.gif') no-repeat; background-size:100% 100%;}