/* info */
form.infoForm{margin: 0 auto; width:970px; height:527px;  padding:20px; position:relative; }
form.infoForm  > div.opacity{width:970px; height:527px; background:rgba(255,255,255,0.5); position:absolute; top:260px; bottom:95px; margin:0 auto;}

form.infoForm > div.opacity > span.modify{color:#028ad9; font-size:27px; margin-top:52px; text-align:center; Box-sizing: border-box;}
form.infoForm > div.opacity > ul.modiForm{width:770px; margin: 70px auto 0;}
form.infoForm > div.opacity > ul.modiForm > li{margin-top:25px; clear:both;}
form.infoForm > div.opacity > ul.modiForm > li > span.lab{font-weight: bold; font-size: 16px; color: #212121; margin: 16px 18px 0 0; width: 62px; float: left;}

form.infoForm > div.opacity > ul.modiForm > li > span.modify{width:350px; float:left;}
form.infoForm > div.opacity > ul.modiForm > li > span.modify > input[type='text']{ width:351px; height:45px; border-radius:4px; background-color:#dff2f7; border:1px solid #FFFFFF; box-shadow:2px 2px 1px lightgray inset;}
form.infoForm > div.opacity > ul.modiForm > li:last-child{margin-top:68px;}
 
form.infoForm > div.opacity > ul.modiForm > li:last-child > span.radio {width:100%; margin-top:23px;}
form.infoForm > div.opacity > ul.modiForm > li:last-child > span.radio > label.chk2 {float:left; }
form.infoForm > div.opacity > ul.modiForm > li:last-child > span.radio > label.chm {margin-left:19px;}
form.infoForm > div.opacity > ul.modiForm > li:last-child > span.radio > label.chf {margin-left:52px;}
form.infoForm > div.opacity > ul.modiForm > li:last-child > span.radio >span.labR{float:left; margin-left:9px;}

form.infoForm > div.opacity > div.btn{width:284px; margin:68px auto 0;}
form.infoForm > div.opacity >  div.btn > button{float:left; width:123px; height:41px; background-color:#0198f1; color:#FFFFFF; border-radius:8px; font-size:15px; border:1px solid #1271a9;}
form.infoForm > div.opacity >  div.btn > button.mPass{width:132px; height:40px; margin-left:0;}
form.infoForm > div.opacity >  div.btn > button.infoSave{width:132px; height:40px; margin-left:20px;}


ul.period > li.month > span.birthselect{margin-left:25px;}
ul.period > li.theDay > span.birthselect{margin-left:25px;}
div.message{position:relative; width:945px; height:50px; clear:both; margin-bottom:20px;}

div.info{margin:81px auto 45px;}
div.info > span{font-size:29px; color:#323232; font-weight:600; text-align:center;}
label.pic{width:100%; height:100%; display:block; text-indent:-1000em;  cursor:pointer; background:url('/img/profile.gif') no-repeat; background-size:100% 100%;}
div.circle{margin: 0 auto; width:136px; height:136px; border-radius:68px;  border:2px solid #FFFFFF; overflow:hidden;}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body {height:100%;min-width:764px; font-family:"Helvetica Neue", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif; margin:0; padding:0; background-color:#0198f1;}
ul {margin:0; padding:0;}
ul li, ul ol {list-style:none;}
button {display:block; padding:0; margin:0; border:0;  border:none; selector-dummy:expression(this.hideFocus=true); cursor:pointer; background:none;}
span.select button{text-indent:0;}
a:active, a:focus, area:active, area:focus, button:active, button:focus  { outline:none; }

a {outline:none; selector-dummy:expression(this.hideFocus=true); text-decoration: none;  cursor:pointer; font-family:"Helvetica Neue", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif;}
span {display:block; font-family:"Helvetica Neue", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif;}
span > a, li > a {display:block; width:100%; text-align:left;}
input, select, textarea{ font-family:"Helvetica Neue", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", "나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif; font-size:14px; color:#777; border:none; resize:none; background:none;}
input {padding-left:8px;}
textarea {padding:8px; width:820px; height:430px; margin:20px 0 140px 43px;}


.copy{display:none;}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,  p, blockquote, th, td, img {margin:0; padding:0; }
html {width:100%; height:100%;}
img, fieldset{border:none; vertical-align:top; }

a, a:link, a:visited   { color:#000; text-decoration:none;}
a:active               {text-decoration:none;}



table{border-spacing:0; border:0; border-collapse:collapse; }
th, td {border:0;}
legend { height:0;  display:block; text-indent:-9999em; }
caption { visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; display:none; }
strike{text-decoration:none; background:url('/img/line.png') no-repeat 0 center; padding:0 3px 1px 3px;}
div.contentBox{padding:40px 0 70px 0; min-height:457px;}
div.bottom{clear:both;}
label.chk{width:16px; height:16px; background:url('/img/radioSet3.png') no-repeat 0 0; display:block; text-indent:-1000em;}
label.chk2{width:16px; height:16px; background:url('/img/radioSet3.png') no-repeat 0 19; display:block; text-indent:-1000em;}

h1{width:71px; height:57px; background:url('/img/rastroLogo.png') no-repeat 0 0; margin:0 auto;}
h2{width:321px; text-align:center; font-size:25px; margin:50px auto 35px; color:#FFF;}
#wrap{Box-sizing: border-box; position:relative; min-width:996px ; background:url('/img/bgMain.png') no-repeat;}
#header{width:100%; min-width:996px ; height:59px; background:url('/img/bgMainTop.png') repeat-x 0 bottom;}
#header div.logOutBox{width:996px; height:100%; margin: 0 auto; padding:6px 20px 0; Box-sizing: border-box; position:relative; }
#header div.logOutBox div.button{position:absolute; right:20px; top:12px;}
#header button.btnTopLogin{float:right; text-align:center;}
#container{width:996px; margin: 28px auto 0; padding-bottom:100px; padding:0 20px; Box-sizing: border-box;}
div.leftObj{width:100%;   Box-sizing: border-box; clear:both;  text-align:center; font-weight:bold; color:#FFF; margin-bottom:57px;}
div.leftObj span span{display:inline;}
div.leftObj span.text1{font-weight:bold; font-size:29px; color:#323232; text-align:center;}
div.leftObj span.text2{font-size:16px; color:#323232; margin:40px 0 10px; text-align:center; line-height:25px;}
div.leftObj span.text2 span.b{font-size:17px; color:#be3f3f; text-decoration:underline;}
div.leftObj span.text3{font-size:21px; color:#FFFFFF; margin-top:5px; text-align:center;}

div.rightObj{width:100%; clear:both;}
ul.joinForm{}
ul.joinForm input{color:#000;}
ul.joinForm span.desc{font-size:13px; color:#FFF; margin:0 0 0 4px; padding-top:10px;}
ul.joinForm li.list{width:352px; clear:both; margin:0 auto 20px; position:relative;}
ul.joinForm li.list > span.lab{width:100px; margin:5px 0; color:#FFF;}
ul.joinForm li.list > span.input,span.radio{clear:both;}
ul.joinForm li.list > span.input{}
ul.joinForm li.list > button.btnClose{top:15px; right:10px; position:absolute;}
ul.joinForm li.list > span.radio{width:160px; height:16px; margin:20px auto 0;}
ul.joinForm li.list > span.radio label{float:left; margin:2px 7px 0 0;}
ul.joinForm li.list > span.radio span.labR{color:#FFF; float:left}
ul.joinForm li.list > span.Lradio{width:100%; height:16px; Box-sizing: border-box; padding-left:15px; margin:20px auto 0;}
ul.joinForm li.list > span.Lradio label{float:left; margin:2px 7px 0 0;}
ul.joinForm li.list > span.Lradio span.labR{color:#FFF; float:left}

ul.joinForm li.list input[type='text'],input[type='password']{width:300px; height:32px;  }
ul.joinForm li.births ul.start{clear:both; height:45px;}
ul.joinForm li.births ul.start li{float:left; margin-right:4px;}
ul.joinForm li.births ul.start li.theDay{margin-right:0px; float:right;}
ul.joinForm li.births ul.start li span.select{margin-right:4px;}
ul.joinForm li.births ul.start li span.lab{margin-top:7px;}
span.agreeDesc{width:352px; font-size:13px; color:#FFF; margin:15px auto 0;}

div.loginBox{width:350px; margin:0 auto;}
div.loginBox ul.joinForm li.list{width:100%;}

#wrap{min-height:100%;}

span.copyRight a{display:inline; color:#FFF }
span.copyRight a:hover{color:#FFF;}
button.btnJoin{width:351px; height:50px; text-indent:-1000em; background:url('/img/btnJoin.png') no-repeat; clear:both; margin:32px auto 0;}

button.btnLogin{width:351px; height:54px; text-align:center; font-weight:bold; font-size:15px; color:#FFF; border-radius:4px; background-color:#0198f1; clear:both; margin:48px auto 0;}
button.btnTopLogin{width:70px; height:30px;  vertical-align:middle; position:relative; color:#2f2f2f; font-family:"나눔고딕"; font-size:14px; border-radius:4px; border:1px solid #000000;}
button.btnTopLogin:hover{background-color:#949494;}
button.btnTopLogOut{width:70px; height:30px; float:right; border-radius:4px; border:1px solid #000; color:#2f2f2f; font-family:"나눔고딕"; font-weight:bold; font-size:14px;}
button.btnTopMyPage{width:70px; height:30px; float:right; border-radius:4px; border:1px solid #000; color:#2f2f2f; font-family:"나눔고딕"; font-weight:bold; font-size:14px;}
button.btnFlogin{width:351px; height:53px; text-indent:-1000em;font-weight:bold; font-size:15px; color:#FFF; background:url('/img/btnFlogin.png') no-repeat; clear:both; margin:15px auto 0; clear:both;}
button.btnRegist{width:352px; height:52px; text-align:center; font-weight:bold; font-size:15px; color:#FFF; border-radius:4px; background-color:#0198f1; clear:both; margin:29px auto 0; clear:both;}
button.btnBack{width:132px; height:52px; text-align:center; font-weight:bold; font-size:15px; color:#FFF; background:url('/img/btnBack.png') no-repeat; clear:both; margin:29px auto 100px; clear:both; }
button.btnClose{width:14px; height:14px; background:url('/img/xButton.png') no-repeat; display:none;}


button.btnFJoin{width:351px; height:54px; text-align:center; font-weight:bold; font-size:15px; color:#FFF; background:url('/img/btnFJoin.png') no-repeat; clear:both; margin:15px auto 0; clear:both; padding-left:55px;}
span.textQ{width:351px; color:#FFF; margin:24px auto 0; text-align:center; }
span.textQ a{display:inline; color:#FFF; font-weight:bold; }
/*
span.input{width:331px; height:45px; float:right; background:url('/img/inputB3.png') no-repeat right 0; position:relative;}
span.inputOn{width:100%; height:45px; background:url('/img/inputF2.png') no-repeat;}
span.input input{width:351px !important; height:100% !important; background:url('/img/inputF3.png') no-repeat 0 0; Box-sizing: border-box; position:relative; left:-21px}
span.inputOn input{width:100% !important; height:100% !important; background:url('/img/inputB2.png') no-repeat right 0; Box-sizing: border-box; }

*/
span.input{width:100%; height:45px;}
span.inputOn{width:100%; height:45px; }
span.input input{width:100% !important; height:100% !important; background-color:#dff2f7; border:1px solid #FFF;  Box-sizing: border-box; border-radius:4px;}
span.inputOn input{width:100% !important; height:100% !important; background-color:#de7474; border:2px solid #cc5f5f;  Box-sizing: border-box; border-radius:4px;  }
span.copyright{font-size:13px;}
div.termsAll{width:946px;}
div.termsAll h2{width:100%; height:25px; font-size:20px; text-align:center; color:#FFF; font-weight:normal;}
div.termsAll div.area{width:100%; height:396px; Box-sizing: border-box;background-color:#FFF;  padding:21px 27px; }
div.termsAll div.area textarea{width:100%; height:100%; font-size:11px; margin:0; line-height:15px;}