
/*게시판*/

div.contentBox div.topImg {width:940px; height:104px; background:url('/img//boardImage.png') no-repeat -48px -320px;}


div.contentBox div.board{width:100%; float:left;}
div.contentBox div.board *{max-width:100%; height:auto;}
div.contentBox div.board span{display:inline;}
div.contentBox div.board a{display:inline;}
div.contentBox div.content {width:93%; float:left; margin:30px 0 0 32px; font-size:15px}
div.contentBox div.chkW{width:60px; }
div.contentBox div.numW{width:60px; font-weight:bold; font-size:15px;}
div.contentBox div.title{color:#2e2e2e;  margin:0 0 32px 0;}
div.contentBox div.titleW{width:600px; }
div.contentBox div.titleAW{width:600px; }/*관리자 일때*/
div.contentBox div.nameW{width:80px; text-align:center;}
div.contentBox div.dateW{width:100px; text-align:center;}
div.contentBox div.hitsW{width:50px; text-align:center;}
div.contentBox div.boardBottom{width:100%; clear:both; position:relative;}
button.boardWrite {position:relative; z-index:99; width:95px; height:34px; text-indent:-1000em; display:block; background:url('/img/btnWrite.png') no-repeat; float:right; margin-top:25px;}


ul.boardList {border:1px solid #dbdbdb; color:#2e2e2e; font-size:13px; padding:0px 5px 0 18px; }


/*게시판 갤러리디테일 공통*/
.title {color:#2e2e2e; font-size:17px; font-weight:bold; overflow:hidden; text-overflow:ellipsis;}

/*갤러리 디테일*/
div.gallery div.detailG {width:100%; box-sizing:border-box; padding:43px 25px 0;  border:1px solid #dbdbdb; margin-top:20px;}

div.gallery div.top .title {width:620px; display:inline; float:left; color:#2e2e2e; font-size:17px; font-weight:bold; overflow: hidden; text-overflow:ellipsis; margin:0 0 47px 32;}
div.gallery div.top .name {width:89px; display:inline; float:left; color:#2f2f2f; font-size:13px; text-align:center;}
div.gallery div.top .date {width:87px; display:inline; float:left; color:#2f2f2f; font-size:13px; text-align:center;}
div.gallery div.top .count {width:36px; display:inline; float:left; color:#2f2f2f; font-size:13px; text-align:center;}

div.detailG div.img {position:relative; width:888px; height:664px; margin:auto;}
div.detailG div.leftArrow {position:absolute; top:230px; width:47px; height:47px; display:block; background:url('/img/gArrow.png') no-repeat -9px -6px;}
div.detailG div.rightArrow {position:absolute; top:230px; left:840px; width:47px; height:47px; display:block; background:url('/img/gArrow.png') no-repeat -72px -6px;}
div.detailG div.Gcount {position:absolute; top:486px; left:805px; width:46px; height:18px; display:block; background:url('/img/gCount.png') no-repeat; font-size:10px; text-align:center;}

div.detailG div.img div.mainImg {width:100%; height:auto; margin:0 auto; display:block; }
div.detailG div.img div.mainImg > img {width:100%; height:100%; padding:20px; box-sizing:border-box;}
div.detailG div.img ul.imgList {width:860px; height:137px; margin:14px auto 0 25px ; } 
div.detailG div.img ul li.imgView > img {width:154px; height:137px; display:inline; background:url('/img/testView.png') no-repeat; float:left; margin:0 17px 0 0 ; }

div.detailG div.comment {margin:67px 30px 0 20px}
div.gallery div.del {width:75px; height:24px; display:block; background:url('/img/editBtn.png') no-repeat -8px -7px; float:left; margin:21px 9px 0 0;}
div.gallery div.edit {width:75px; height:24px; display:block; background:url('/img/editBtn.png') no-repeat -92px -7px; float:left; margin:21px 686px 0 0;}
div.gallery div.write {width:95px; height:34px; display:block; background:url('/img/btnWrite.png') no-repeat; margin : 21px 0 135px 845px;  }


/*페이지*/
div.page {width:100%; height:auto;left:0; position:absolute; top:0; text-align:center;  z-index:0;}
div.page *{font-size:14px;}
div.page ul{display:inline; }
div.page ul a{display:inline; }
div.page ul li{width:20px;display:inline; margin:0 5px;}
div.page ul li.on a{  font-weight:bold; }
div.page button {width:27px; height:27px; padding:0;  font-size:13px; font-weight:normal; display:inline; }
div.page button.prev{width:23px; height:22px; display:inline; background:url('/img/boardArrow.png') no-repeat -6px -3px;  text-indent:-1000em;}
div.page button.next{width:23px; height:22px; display:inline; background:url('/img/boardArrow.png') no-repeat -39px -3px; text-indent:-1000em;}
/*
div.pgCir ul{}
div.pgCir ul li{width:6px; height:6px; margin:10px 7px 0 0; position:relative; left:-50%; float:left;}
div.pgCir ul li a { width:100%; height:100%; font-weight:bold; color:#646464; padding:1px 0 0 0; background:url('/img/dotSlideOff.gif') repeat-x 0 0; text-indent:-1000em;}
div.pgCir ul li.on {color:#3d8e93; font-weight:bold;}
div.pgCir ul li.on a {background:url('/img/dotSlideOn.gif') repeat-x 0 0;}


div.pgNum ul { margin:0 5px; padding:0;}
div.pgNum ul li{width:6px; font-size:14px; margin:2px 8px 0 0; height:17px; position:relative; left:-50%; float:left; }
div.pgNum ul li a {font-weight:bold; color:#646464; padding:1px 0 0 0;}
div.pgNum ul li.on {background:url('/img/img.png') repeat-x right 0;}
div.pgNum ul li.on a {height:18px; color:#3d8e93; padding:1px 0 0 0; font-weight:bold;}
div.pgNum button.prev{background-position:-122px -4px; position:relative; left:-50%; margin-right:4px;}
div.pgNum button.next{background-position:-153px -4px; position:relative; left:-50%; margin-left:9px;} */





/*댓글판(로그인없는)*/
#container ul.cmtOutput li div.head {clear:both;  }
#container ul.cmtOutput li div.head span{float:left;}
#container ul.cmtOutput li div.head > span.name {font-weight: bold; color:#2f2f2f; margin:20px 13px 15px 19px;}
#container ul.cmtOutput li div.head > span.cdate {margin:24px 0 0; font-size:12px; color:#2f2f2f;}
#container ul.cmtOutput li div.head > span.text {color:#2f2f2f; margin:0 10px 19px 19px;}
button.c{width:13px; height:14px; background:url('/img/boardImage.png') no-repeat -307px -209px; text-indent:-1000em; float:right; margin-right:80px; }

#container ul.cmtOutput span.cdate{margin-left:10px;}
#container ul.cmtOutput div.text{float:left; width:700px;}
#container ul.cmtOutput span.text{word-break:break-all; max-width:500px;}
#container ul.cmtOutput button.cmtD{width:30px;}
#container ul.cmtOutput button.cmtC{width:10px;float:right;}
#container ul.cmtOutput div.pwBox{}
#container ul.cmtOutput button.pwbtn{float:right;}
/* #container ul.cmtOutput button.pwbtn{idth:55px; height:30px; margin:15px 0 0 8px; background:none} */
#container ul.cmtOutput div.pwBox input{border:2px solid #000000}
#container ul.cmtInput li *{float:left; margin-top:20px;}
#container ul.cmtOutput span.cdate{ padding-right:35px;}


/*댓글 출력부분*/

#container ul.cmtOutput li div.head button.cmtD { margin:20px 0 0; display:inline;}

span.cmtCount{margin-left:20px;}
ul.cmtOutput > li {margin:13px 30px 10px 14px; width:820px; background:#f4f4f4}

span.conOutput{min-height:400px; margin-top:22px;}
div.title>span.title{margin-left:30px;}
div.rightWriter{float:right; margin-right:12px;}
ul.cmtInput{height:120px; margin:0 0 60px 0;}